In [6]:
# Installazione libreria Pandas
!pip install pandas

Requirement already satisfied: pandas in c:\users\joaquimfrancalanci\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\joaquimfrancalanci\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\joaquimfrancalanci\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\joaquimfrancalanci\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\joaquimfrancalanci\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\joaquimfrancalanci\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
# Importazione libreria Pandas
import pandas as pd

In [8]:
# Caricare dataset
df = pd.read_csv('dataset_esempio.csv')

In [9]:
# Visualizzare prime righe del dataset
df.head(10)

      Nome  Età  Altezza  Peso Genere  Punteggio
0    Alice   24    165.0  55.0      F       85.5
1      Bob   27    180.0  78.0      M       90.2
2  Charlie   22    175.0  69.0      M       88.0
3    David   32    170.0  72.0      M       93.4
4      Eva   28    160.0  58.0      F       91.0
5    Grace   29    168.0  65.0      F       87.5
6     Hank   34    182.0  85.0      M       79.2
7      Ivy   26    172.0  63.0      F       92.0
8     Jack   23    177.0  74.0      M       86.1
9    Karen   30    158.0  55.0      F       88.9

In [10]:
# Visualizzare info del nostro dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nome       56 non-null     object
 1   Età        56 non-null     int64
 2   Altezza    54 non-null     float64
 3   Peso       55 non-null     float64
 4   Genere     56 non-null     object
 5   Punteggio  56 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.8+ KB